**/Output/**
**/node_modules/**
**/.ntvs_analysis.dat
**/.vscode/**
**/tmp/**
**/.idea/**
.idea/**
**/.vs/**
**/build/**
scratch/**
npm-debug.log*
/.reviewboardrc
*.suo
*.user
_ReSharper.*
*.log
*.dep
Debug
Release
Production_Release
*.metaproj
*.metaproj.tmp
*.ncb
*~
*.testrunconfig
*zlog1.txt
*.cache
*.trx
libs/*
**/bin/**
**/obj/**
TestResults
*.sdf
ipch
*.o
*.ko
.*.o.cmd
.*.ko.cmd
Module.symvers
modules.order
bin-debug
*.pidb
*.userprefs
*.opensdf
*.dotCover
*.DotSettings.user
SharpSetup*.resources
.DS_Store
~$*
